
<!--<form action="<%= edit_post_comment_path(comment) %>" method ="post">
<input type="hidden" name="authenticity_token">
<textarea name="comment[body]" rows="8" cols="60"> </textarea>
<input type="submit" value="Submit">
</form> 
<div class="comment-form">
<%= form_for @comment, url: post_comment_path(@comment) do |f| %>
<% f.label 'Comment Body' %><br>
<%= f.text_area :body %>

<%= f.submit "Change Comment"%>
<%end%>
</div>--->