// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img { 
    display: block; 
    max-width: 100%;
   
    
    
     
   } 
   .container { 
    width: 15%; 
    min-height: 100px;
    padding: 15px;
    float: left;
    
    
   }

   .inline {

    float:left;
    padding-right: 10px;
   }

   .caption {
    font-weight: bold;
   }

   .padder {
       padding-top: 25px;
   }